src/main/resources/services/wsdl/CurrencyRates.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://localhost:8080/CurrencyRates/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyRates"
	targetNamespace="http://localhost:8080/CurrencyRates/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://localhost:8080/CurrencyRates/api">
			<xsd:element name="ValuteId">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Valute">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string" />
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="charCode" type="xsd:string" />
						<xsd:element name="value" type="xsd:string" />
						<xsd:element name="nominal" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getCurrencyRateByIdInput">
		<wsdl:part element="types:ValuteId" name="id" />
	</wsdl:message>
	<wsdl:message name="getCurrencyRateByIdOutput">
		<wsdl:part element="types:Valute" name="valute" />
	</wsdl:message>
	<wsdl:message name="removeCurrencyRateByIdInput">
		<wsdl:part element="types:ValuteId" name="id" />
	</wsdl:message>
	<wsdl:message name="removeCurrencyRateByIdOutput">
		<wsdl:part element="types:Valute" name="valute" />
	</wsdl:message>
	<wsdl:portType name="CurrencyRates">
		<wsdl:operation name="getCurrencyRateById">
			<wsdl:input message="tns:getCurrencyRateByIdInput" />
			<wsdl:output message="tns:getCurrencyRateByIdOutput" />
		</wsdl:operation>
		<wsdl:operation name="removeCurrencyRateById">
			<wsdl:input message="tns:removeCurrencyRateByIdInput" />
			<wsdl:output message="tns:removeCurrencyRateByIdOutput" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CurrencyRatesSOAP" type="tns:CurrencyRates">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCurrencyRateById">
			<soap:operation
				soapAction="http://localhost:8080/CurrencyRates/getCurrencyRateById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeCurrencyRateById">
			<soap:operation
				soapAction="http://localhost:8080/CurrencyRates/removeCurrencyRateById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CurrencyRatesService">
		<wsdl:port binding="tns:CurrencyRatesSOAP" name="CurrencyRatesSOAP">
			<soap:address location="http://localhost:8080/CurrencyRates/api" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
